# Python
venv/
venv310/
.venv/
.python310/
.tools/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# ML artifacts
mlruns/
.cache/
*.pkl
*.h5
*.pt
*.ckpt

# Node
node_modules/
dist/
frontend/.npm-cache/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# ChronoCast generated data
ml_pipeline/data_pipeline/data/*.csv

# Monitoring reports
ml_pipeline/monitoring/reports/

# MLflow database
mlflow.db

# PM2 logs
frontend/logs/*.log
